@model IEnumerable<OnlineSchool.Contract.Subject.SubjectModel>
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <img src="~/images/BackgroundImage.jpeg" height="550" style="width:100%" />
    <h2 style="top:470px;left:70px;position:absolute;color:white">Teachers</h2>
</div>
<div class="row" style="height:55px;background-color:#f9f9f9">
    <h4 style="font-family: 'Varela Round',sans-serif;color:#a3a3a3;padding: 15px 0px 15px 55px;">Home</h4>
    <img src="~/images/next.png" width="10" style="margin:25px 10px;height: 10px;" />
</div>

<div class="container" style="margin-right:10px;margin-left:10px">
    <div class="row">
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="margin-bottom:20px;border:unset !important">
                <img src="~/images/image4.jpeg" style="width:100%;height:215px" />
                <img src="~/images/Twiter.png" width="15" style="top:170px;left:20px;position:absolute" />
                <img src="~/images/Pinterest.png" width="15" style="top:170px;left:45px;position:absolute" />
                <img src="~/images/Linkedin.png" width="15" style="top:170px;left:70px;position:absolute" />
                <img src="~/images/Google.png" width="15" style="top:170px;left:95px;position:absolute" />
                <img src="~/images/Instagram.png" width="15" style="top:170px;left:120px;position:absolute" />
                <h4 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important;padding:10px;">History of philosophy</h4>
                <p class="u-text u-text-4" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;padding:10px">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                <button style="font-family: 'Montserrat',sans-serif;float:left;background-color:#90cbde;border-radius: 3px;color: #fff;border: 2px solid #90cbde;width: 120px;">View Profile</button>
            </div>

        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-3 ">
        <h4 class="text-darkred">Subject</h4>
        <ul class="list" style="margin-top:20px">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Materials" asp-action="Upload" asp-route-id="@item.Id" onclick='getMaterials(@item.Id,true)'>@item.Name</a>
                </li>
            }
        </ul>
        <input type="text" id="text" />
        <input type="submit" value="Filter" onclick="buttonSearch()" />
    </div>
    <div class="col-9">
        <h4 class="text-darkred">Materials</h4>
        <h6>You can find the best materials in here</h6>

        @(Html.Kendo().ListView<IEnumerable<OnlineSchool.Contract.Material.MaterialModel>>()
                           .Name("listView")
                           .Events(ev => ev.DataBound("gridDataBound"))
                           .TagName("div")
                           .Scrollable(ListViewScrollableMode.Endless)
                           .HtmlAttributes(new { style = "height:450px;" })
                           .ClientTemplateId("template1")
                           .DataSource(dataSource =>
                           {
                               dataSource.Ajax().Read(read => read.Url("/Materials/GetMaterials").Data("getFilterData").Type(HttpVerbs.Get)).PageSize(20);
                           })
                           .Selectable(selectable => selectable.Mode(ListViewSelectionMode.Single))
                           .Deferred()
        )

        <script type="text/x-kendo-tmpl" id="template1">
            <div class="product">
                <div class="row">
                    <div class="col-12">
                        <div class="k-card " style="margin-top:30px;border:none">
                            <div class="ibox-content">
                                #if (ImageTitle!=null)
                                {#
                                <img alt="image" class="k-card-media" style="height:190px" src="@ViewBag.BaseUrl/upload/Subject_#:SubjectId#/Images_#:Id#/#:ImageTitle#">
                                #}
                                else{#
                                <img alt="image" class="k-card-media" style="height:190px" src="@ViewBag.BaseUrl/images/image1.png" />
                                #}#-->
@*<img src="@ViewBag.BaseUrl/Images/carousel-3.png" class="k-card-media">*@
<!--</div>
                            <div class="text-center" style="height:160px">
                                <p class="section-title" style="color:darkred; padding-top:1rem">#:Title#</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        @(Html.Kendo().PDFViewer()
             .Name("pdfviewer")
             .PdfjsProcessing(pdf => pdf
             .File(Url.Content("~/upload/Subject_" + "/Pdf_" + "/"))
                          )
                          .Height(1200)
                          .Deferred()

                        )
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .k-widget {
        border-style: none !important;
        display: block !important;
    }

    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .list li {
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 12px;
            color: darkgrey;
        }

    #listView {
        padding: 10px 5px;
        margin-bottom: -1px;
        display: block;
    }

    .product {
        float: left;
        position: relative;
        width: 284px;
        height: 300px;
        margin: 0 5px;
        padding: 0;
    }

        .product img {
            width: 284px;
            height: 205px !important;
        }

        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }


    .demo-section .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
<script>
    var search;
    function buttonSearch() {
        $.get("/Materials/GetMaterials", { search: getFilterData() }).done(function (data) {
            console.log(data.Data)
            var list = $("#listView").data("kendoListView");
            list.dataSource.data(data.Data);
        })
    }
    function getFilterData() {
        return $("#text").val();
    }
    function gridDataBound(e) {
        var selectedRows = this.select();
        var dataItem = this.dataItem(selectedRows[0]);
        var id = dataItem.id;
        console.log(id);
    }

</script>-->
