@model IEnumerable<OnlineSchool.Contract.Subject.SubjectModel>

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="In our Campus you can, Our Courses, Our Teachers, John Mcallister, Jane Doe, Mary Mgrayan, Hanna Kim, 44, +10 K, +47, 15, Our Blog, Our university, Course Registration">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Page 1</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Page-1.css" media="screen">
    <meta name="generator" content="Nicepage 2.22.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#73a3de">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>

<body>
    <section class="u-clearfix u-grey-5 u-section-4" id="sec-abc0">
        <div class="container">
            <div class="row">
                @*<div class="col-3"></div>*@
                <div class="col-12">
                    <form asp-controller="Subject" asp-action="SearchCourses" method="get" style="width: 1119px; height:320px ;border: 1px solid #f1f1f1;margin-left:60px;margin-bottom:20px">
                        <div style="border-bottom: 1px solid #f1f1f1;background-color: #f9f9f9">
                            <h4 style="width:300px;border: 1px solid #f1f1f1;background-color:#90cbde;text-align:center;margin-left:auto;margin-right:auto;border-radius: 3px">@OnlineSchool.Contract.Resources.SharedResources.Courses</h4>
                            <h2 style="text-align:center;">@OnlineSchool.Contract.Resources.SharedResources.Search_Now</h2>
                        </div>
                        <br />
                        <div style="width:300px;margin-left:auto; margin-right:auto;">
                            <div>
                                @*<input asp-for="searchString" type="text" placeholder="Search" style="margin-top: -30px;" />*@
                                @Html.TextBox("searchString", "", new { @*placeholder = "Search",*@@id = "btn", @class = "form-control", style = "height: 31px;" })
                            </div>
                            <button type="submit" style="border: 2px solid #174873;width:100%; text-align: center; border-radius: 3px; background-color: #174873; color: white; margin-top: 20px">@OnlineSchool.Contract.Resources.SharedResources.SEARCH</button>
                        </div>
                    </form>
                </div>
                @*<div class="col-2"></div>*@


                @*<div class="col-3">
                        <img src="~/images/Student1.jpg" style="width:310px;height:320px;" />
                        <h3 class="centered" style="color:white;">Biology</h3>
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:45%" />
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:50%" />
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:55%" />
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:60%" />
                        <img class="centered" src="~/images/half-white.png" width="15" style="top:52%;left:65%" />
                        <button type="button" style="top:13px;right:13px;position:absolute;background-color: Transparent;border: 1px solid white;color: white;border-radius:3px">USD</button>
                    </div>*@
                @*<div class="col-3">
                        <img src="~/images/Student2.jpg" style="width:310px;height:320px;margin-left:27px;" />
                        <h3 class="centered" style="color:white;">Biology</h3>
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:45%" />
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:50%" />
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:55%" />
                        <img class="centered" src="~/images/star.png" width="15" style="top:52%;left:60%" />
                        <img class="centered" src="~/images/icon-star-white.png" width="15" style="top:52%;left:65%" />
                        <button type="button" style="top:13px;right:-13px;position:absolute;background-color: Transparent;border: 1px solid white;color: white;border-radius:3px">USD</button>
                    </div>*@
            </div>
        </div>
    </section>


    <section class="u-clearfix u-expand-resize u-valign-top-xs u-white u-section-3" id="sec-c797">
        <img class="u-expanded-width u-image u-image-1" src="~/images/image18.jpeg">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1">@OnlineSchool.Contract.Resources.SharedResources.Our_Courses</h2>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="background-color: #f9f9f9">
                    <div class="u-layout-row">

                        @foreach (var item in Model)
                        {
                            <div class="u-align-left-sm u-align-left-xs u-container-style u-expand-resize u-layout-cell u-left-cell u-size-20 u-size-20-md u-layout-cell-1" style="border:20px solid transparent">
                                <div class="u-container-layout" style="background-color:white">
                                    <img class="u-expanded-width u-image u-image-2" src="~/images/image16.jpeg" style="height:210px;">
                                    <img src="~/images/Heart.png" width="25" style="top:20px;right:60px;position:absolute" />
                                    <img src="~/images/Book.png" width="25" style="top:20px;right:20px;position:absolute" />

                                    <label style="top:120px;left:110px;position:absolute;color:white; font-size:20px"><b>@OnlineSchool.Contract.Resources.SharedResources.Lesson_Time</b></label>
                                    <img src="~/images/Calendar.png" width="25" style="top:170px;left:20px;position:absolute" />
                                    @*<a href="#" style="top:170px;left:50px;position:absolute;color:white">date</a>*@
                                    @*<label id="startDate" style="top:175px;left:50px;position:absolute;color:white">@item.StartDate.Value.ToString("dd/MM/yyyy") </label>
                                    <label id="endDate" style="top:190px;margin-bottom:20px;left:50px;position:absolute;color:white"> @item.EndDate.Value.ToString("dd/MM/yyyy") </label>*@
                                    <br />
                                    <img src="~/images/Clock.png" width="25" style="top:170px;left:130px;margin-left:20px; position:absolute" />
                                    @*<a href="#" style="top:170px;left:160px;position:absolute;color:white">hours</a>*@
                                    @*<label id="startTime" style="top:175px;left:200px;position:absolute;color:white">@item.StartTime</label>
                                    <label id="endTime" style="top:190px;  left:200px;position:absolute;color:white"> @item.EndTime </label>*@
                                    <h6 class="u-custom-font u-font-oswald u-text u-text-default u-text-3" style="font-family: 'Montserrat',sans-serif;color: #727475;font-weight:unset !important">@item.Name</h6>
                                    <p class="u-text u-text-4 show-read-more" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;">@item.Description.</p>          
                                    <div style="border-top: 1px solid #f1f1f1;margin-top:50px;padding:25px;">
                                        <a class="u-text" style="font-family: 'Varela Round',sans-serif;font-size: 16px;line-height: 30px;color: #a3a3a3;"> <b>@OnlineSchool.Contract.Resources.SharedResources.Teacher_Subject</b> 
                                        <br /> 
                                        @*@item.TeacherName</a>*@
                                        @*<a id ="btnCourser" asp-controller="Materials" asp-action="GetSubjectById" asp-route-Id="@item.Id" style="font-family: 'Montserrat',sans-serif; float:right;background-color:blue; border: 2px solid #0000FF; border-radius:3px;color: #fff; margin-top:23px; margin-right:12px; height:34px">@OnlineSchool.Contract.Resources.SharedResources.Teacher_Materials</a>*@
                                        <a id="btnCourser" asp-controller="Materials" asp-action="GetMaterialSubject" asp-route-Id="@item.Id" style="font-family: 'Montserrat',sans-serif;  background-color: #174873;float:right; border: 2px solid; border-radius:3px;color: #fff; margin-top:23px; margin-right:12px; height:34px">@OnlineSchool.Contract.Resources.SharedResources.Teacher_Materials</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<style>
    .btnCourser:hover {
        background-color: #174873;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    var maxLength = 120;
    $(".show-read-more").each(function(){
        var myStr = $(this).text();
        if($.trim(myStr).length > maxLength){
            var newStr = myStr.substring(0, maxLength);
            var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
            $(this).empty().html(newStr);
            $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
            $(this).append('<span class="more-text">' + removedStr + '</span>');
        }
    });
    $(".read-more").click(function(){
        $(this).siblings(".more-text").contents().unwrap();
        $(this).remove();
    });
});
</script>

<style>
    .show-read-more .more-text {
        display: none;
    }
</style>