@model OnlineSchool.Contract.Teachers.CreateTeacherModel

<h6 class="page-title"> @SharedResources.NewTeacher </h6>

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <form method="post" enctype="multipart/form-data" class="mt-5">

                @if (ViewData["MesaggeSuccess"] != null)
                {
                    <div class="mb-4 alert alert-success alert-dismissible fade show" role="alert">
                        @ViewData["MesaggeSuccess"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @if (ViewData["MesaggeError"] != null)
                {
                    <div class="mb-4 alert alert-danger alert-dismissible fade show" role="alert">
                        @ViewData["MesaggeError"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label asp-for="@Model.Name" class="form-control-placeholder"> @SharedResources.Name </label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Surname" class="form-control-placeholder"> @SharedResources.Surname </label>
                    <input asp-for="@Model.Surname" class="form-control" />
                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Gender" class="form-control-placeholder"> @SharedResources.Gender </label>
                    <select asp-for="@Model.Gender" required class="custom-select form-control cursor-pointer">
                        <option disabled selected> @SharedResources.Select @SharedResources.Gender.ToLower() </option>
                        <option value="M"> @SharedResources.Male </option>
                        <option value="F"> @SharedResources.Female </option>
                    </select>
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Email" class="form-control-placeholder"> @SharedResources.Email </label>
                    <input asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"> </span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password" class="form-control-placeholder"> @SharedResources.Password </label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"> </span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description" class="form-control-placeholder"> @SharedResources.Description </label>
                    <textarea asp-for="@Model.Description" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"> </span>
                </div>
                <div class="form-group custom-file">
                    <label asp-for="@Model.ImageFile" class="form-control-placeholder"> @SharedResources.Image </label>
                    <input asp-for="@Model.ImageFile" class="form-control cursor-pointer" />
                    <span asp-validation-for="@Model.ImageFile" class="text-danger"> </span>
                </div>
                <div class="form-group text-right">
                    <a class="btn btn-sm btn-light border" asp-controller="teacher" asp-action="manage">
                        <i class="fas fa-times"></i> @SharedResources.Cancel
                    </a>
                    <button type="submit" class="btn btn-sm my-btn-primary ml-2" >
                        <i class="far fa-save"></i> @SharedResources.Save
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}